
{include file="../public/header.html" /}



<body >

<div class="container" style="height:600px;">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">库存管理系统</a> 
                    </div>
                    <div style="color: white;padding: 15px 50px 5px 50px;float: right;font-size: 16px;">
                        用户名:admin
                        <a class="btn btn-danger" href="templates/login.html" >退出</a>
                    </div>
                </div>
            </nav>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
            <nav class="navbar navbar-default" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="main-menu" style="height:600px">
                        <li><a href='product.html' target="right">商品信息</a></li>
                        <li><a href='depotin.html' target="right">商品入库</a></li>
                        <li><a href='depotout.html' target="right">商品出库</a></li>
                        <li><a href='depot.html' target="right">库存查询</a></li>
                    </ul>
                </div>
            </nav>
		</div>
        
        <iframe class="col-md-9" name="right" style="height:600px">
        	
            
        </iframe>
        
  </div>
</div>
<div align="center">

</div>
</body>
</html>
